
*.iml

.idea/

cmake-build-debug/test/CMakeFiles/battleship_tests.dir/

cmake-build-debug/test/

cmake-build-debug/googletest/googlemock/CMakeFiles/

cmake-build-debug/googletest/googletest/CMakeFiles/gtest_main.dir/

cmake-build-debug/googletest/googletest/generated/

cmake-build-debug/googletest/

*.internal

*.cmake

*.a

*.bin

src/cmake-build-debug/CMakeFiles/3.10.2/CompilerIdCXX/

src/cmake-build-debug/CMakeFiles/

cmake-build-debug/
